{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, world!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id laborum numquam sapiente soluta suscipit tempora. Ab ipsa maxime nulla vero voluptatum. Asperiores facilis nam odio officiis porro repellat soluta, ut!</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                {{ dump(test) }}
            </div>
            <div class="col">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Currency</th>
                            <th>Balance</th>
                            <th>EUR</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for balance in balances %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ balance.assetName }}</td>
                                <td>{{ balance.balance }}</td>
                                <td>0</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
