{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, world!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id laborum numquam sapiente soluta suscipit tempora. Ab ipsa maxime nulla vero voluptatum. Asperiores facilis nam odio officiis porro repellat soluta, ut!</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>
{% endblock %}
